/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */ /* Location of the box */
  left: 0;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-top: 5%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#category-name, #inventory-supply {
  text-align: center;
}

#filter {
  margin-left: 2%;
  margin-bottom: 2%;
}

#admin_home-header-wrapper {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
}

#get-button {
  background-color: #B3de81;
  border: none;
  border-radius: 4px;
}

#get-icon {
  background-color: #B3de81;
  height: 30px;
  width: 30px;
}