#header_layout{
    background-color:#0e0f02;
    width: 100%;
    height: 100%;
    float: left;
    padding: 1%;
}
#header{
	font-size: large;
    padding: 0.3em;
    color: white;
    height: 100%;

}
.header-item{
	float: right;
	color: white;
}
.button{
    margin-left: .3%;
}