#center {
    width: 85%;
    margin-left: 15%;
}
#left {
	background: #ffc30b;
    width: 15%;
    padding-bottom: 85%;
    float: left;
}
#sidebar-container {
	height: 100%;
    width: 100%;
    margin: 0%;
    float: left;
}
.column {
	height: 100%;
}
.orderlist {
    margin-left: 15%;
}
.subject {
    color: black;
    margin-left: 10%;
}
.table-header{
    border-collapse: collapse;
    width: 100%;
}
.card {
    background-color: #ffc30b;
}