#table-wrapper {
	width:95%;
   	height:70vh;
    overflow:auto;
    margin: 0 auto;
    border:5px solid;
}
table {
	width: 100%;
	border-bottom: 1px solid #F6B4A5;
 }
table,th,td{
	border-collapse: collapse;
	text-align:center;
	padding:12px 15px;
}
th{
	position: sticky;
	top:0;
	background:#2b580c;
}
tr th{
	padding:12px 15px;
	color:white;
}
td a,th a{
	text-decoration: none;
}
td{
	border-bottom: 1px solid;
}