#transact-logs-wrapper {
	width: 100%;
	height: 100%;
}
#selectdate,#information{
	width: 100%;
}
#go{
	margin-right: 10%;
}
#date_out,#uid,#ics{
	display: inline-block;
	width: 20%;
}
h4{
	color: #2b580c;
	font-size: 20px;
}
h4 label{
	color: black;
	margin-right: 15%;
	margin-left: 1%;
}